.picture-row {
  a {
    height: 33.33vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    @include flex(row, flex-end, center);
    text-decoration: none;
    transition: background-size 0.2s;

    // Effects
    &:hover {
      background-size: 55%;
    }

    // Media queries
    @media (min-width: 768px){
      background-size: 80%;
      &:hover {
        background-size: 100%;
      }
    }
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background-color: rgb(173, 215, 230);
    padding: 13px;
    border: 0;
    color: #fefbef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
